<!-- blabber/templates/dwitter/dashboard.html -->
{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            {% for followed in user.profile.follows.all %}
                {% for blab in followed.user.blabs.all %}
                    <div class="card border-secondary">
                        <div class="card_body">
                            <h4 class="card-title">
                                {{ blab.user.username }}
                            </h4>
                            <h6 class="card-subtitle">
                                {{ blab.created_at }}
                            </h6>
                            <p class="card-text">
                                <strong>said: </strong>{{ blab.body }}
                            </p>
                        </div>
                    </div>                    
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col">
            <form method="post">
                {{ form.as_p }}
                <div class="d-grid gap-2">
                    <button class="btn btn-outline-success" type="submit">
                        Blab!
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}