{% extends "base.html" %}

{% block content %}

<!-- blabber/templates/dwitter/profile_list.html -->

<div class="container">

{% for profile in profiles %}    
    <div class="list-group">
        <a href="{% url 'blabber:profile' profile.id %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <i class="bi bi-activity"></i>
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">{{ profile.user.username }}</h6>
                    <small class="opacity-50 text-nowrap">@{{ profile.user.username|lower }}</small>
                </div>
            </div>
        </a>
    </div>
{% endfor %}
</div>

{% endblock content %}