{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <h1 class="title">
            {{ profile.user.username|upper }}'s Blabs
        </h1>
    </div>
    <div class="row">
        <div class="col">
            {% for blab in profile.user.blabs.all %}
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">{{ blab.body }}</p>
                        <span class="fw-lighter">
                            ({{ blab.created_at }})
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>        
    </div>
    <hr>
    <div class="row">
        <form method="post">
            <!--https://docs.djangoproject.com/en/3.2/ref/csrf/-->
            {% csrf_token %}            
            <div class="col">
                {% if profile in user.profile.follows.all %}            
                    <button class="btn btn-success" disabled>Follow</button>
                    <button class="btn btn-danger" name="follow" value="unfollow">
                        Unfollow
                    </button>
                {% else %}
                    <button class="btn btn-success" name="follow" value="follow">
                        Follow
                    </button>
                    <button class="btn btn-danger" disabled>Unfollow</button>
                {% endif %}
            </div>
        </form>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <a href="{% url 'blabber:profile_list' %}">
                <button class="btn btn-primary">
                    All Profiles
                </button>
            </a>
        </div>           
    </div>
    <div class="row">    
        <div class="col-3">
            <h3>
                {{ profile.user.username }} follows:
            </h3>    
        </div>
        <div class="col-6">
            <ul class="list-group">
            {% for following in profile.follows.all %}
                <li class="list-group-item">
                    <a href="{% url 'blabber:profile' following.id %}">
                        {{ following }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <h3>
                {{ profile.user.username }} is followed by:
            </h3>
        </div>
        <div class="col-6">
            <ul class="list-group">
            {% for follower in profile.followed_by.all %}
                <li class="list-group-item">
                    <a href="{% url 'blabber:profile' follower.id %}">
                        {{ follower }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}