{% extends "blog/base.html" %}
{% block title %}My Blog{% endblock title %}
{% block content %}
  <h1>
    <a href="{% url 'blog:post_list' %}">
      My Blog
    </a>
  </h1>
  {% for post in posts %}
    <h2>
      {% comment %} call to model method for canonical url {% endcomment %}
      {% comment %} <a href="{% url 'blog:post_detail' post.id %}"> {% endcomment %}
        <a href="{{ post.get_absolute_url }}">
          {{ post.title }}
        </a>
    </h2>
    <p class="date">
      Published {{ post.publish }} by {{ post.author }}
    </p>
    {% comment %} filters help with content display {% endcomment %}
    {{ post.body|truncatewords:30|linebreaks }}
  {% endfor %}
  {% include "pagination.html" with page=page_obj %}
{% endblock content %}
