<div id="recent-posts">
    <h6 class="mb-2">Recent</h6>
    <ul class="list-group list-group-flush">
        {% for p in posts %}
            <li class="list-group-item px-0">
                <a class="link-body-emphasis text-decoration-none"
                   href="{% url 'blog:post_detail' p.slug %}">{{ p.title }}</a>
                <div class="small text-muted">{{ p.published_at|date:"M j" }}</div>
            </li>
        {% empty %}
            <li class="list-group-item px-0 text-muted">No recent posts.</li>
        {% endfor %}
    </ul>
</div>
