{% extends "admin/change_form.html" %}
{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet"
          href="https://unpkg.com/easymde/dist/easymde.min.css" />
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var textarea = document.getElementById("id_body");
        if (textarea) {
          new EasyMDE({ element: textarea });
        }
      });
    </script>
{% endblock extrahead %}
