<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T100 Queries</title>
</head>
<body>
    <h1>Queries for T-100</h1>
    <div>
        <ul>
            {% comment %} 
            * What are the top 5 airports in terms of:
                * Total passengers by origin
                * Total passengers by destination 
            {% endcomment %}
            <li>What are the top 5 airports in terms of:
                <ul>
                    <li><a href="{% url 'top5paxorigin' %}">Total passengers by origin</a></li>
                    <li> <a href="{% url 'top5paxdestination' %}"> Total passengers by destination</a></li>
                </ul>
            </li>
            {% comment %} 
            * What are the top 5 airports in terms of:
                * Total freight by origin
                * Total freight by destination
            {% endcomment %}
            <li>What are the top 5 airports in terms of:
                <ul>
                    <li>Total freight by origin</li>
                    <li>Total freight by destination</li>
                </ul>
            </li>
            {% comment %} 
            * What are the top 5 airports in terms of:
                * Total mail by origin
                * Total mail by destination
            {% endcomment %}
            <li>What are the top 5 airports in terms of:
                <ul>
                    <li>Total mail by origin</li>
                    <li>Total mail by destination</li>
                </ul>
            </li>
            {% comment %} 
            * What are the top 5 airports in terms of:
                * Total distance by origin
                * Total distance by destination    
            {% endcomment %}
            <li>What are the top 5 airports in terms of:
                <ul>
                    <li>Total distance by origin</li>
                    <li>Total distance by destination</li>
                </ul>
            </li>    
            {% comment %} 
            * Which airport reported the most passengers by month?
            * Which airport reported the longest distance by month?
            * Which airline reported the most freight carried?
            * Which airline reported the most passengers carried?
            * Which airline reported the most mail carried?
            * Which airline reported the longest flight distance?     
            {% endcomment %}
            <li>Which airport reported the most passengers by month?</li>
            <li><a href=" {% url 'topdistance_month' %} ">Which airport reported the longest distance by month?</a></li>
            <li>Which airline reported the most freight carried?</li>
            <li>Which airline reported the most passengers carried?</li>
            <li>Which airline reported the most mail carried?</li>
            <li>Which airline reported the longest flight distance?</li>

            {% comment %} 
            * Rank order passengers carried, by month, for these airlines:
                * AA (American Airlines)
                * AS (Alaska Airlines)
                * DL (Delta Airlines)
                * UA (United Airlines)
                * WN (Southwest Airlines)
            {% endcomment %}
            <li> Rank order passengers carried, by month, for these airlines:
                <ul>
                    <li>AA (American Airlines)</li>
                    <li>AS (Alaska Airlines)</li>
                    <li>DL (Delta Airlines)</li>
                    <li>UA (United Airlines)</li>
                    <li>WN (Southwest Airlines)</li>
                </ul>
            </li>
            {% comment %} 
            * Find the average number of passengers for flights into:
                * LAX (Los Angeles)
                * SFO (San Francisco)
                * DFW (Dallas-Fort Worth)
                * ATL (Atlanta)
                * ORD (Chicago)
            {% endcomment %}
            <li>Find the average number of passengers for flights into:
                <ul>
                    <li>LAX (Los Angeles)</li>
                    <li>SFO (San Francisco)</li>
                    <li>DFW (Dallas-Fort Worth)</li>
                    <li>ATL (Atlanta)</li>
                    <li>ORD (Chicago)</li>
                </ul>
            </li>

            {% comment %} 
            * Find the average volume of freight for flights departing:
                * MIA (Miami)
                * MEM (Memphis)
                * JFK (New York JFK)
                * ANC (Anchorage)
                * SDF (Louisville) 
            {% endcomment %}
            <li> Find the average volume of freight for flights departing:
                <ul>
                    <li>MIA (Miami)</li>
                    <li>MEM (Memphis)</li>
                    <li>JFK (New York JFK)</li>
                    <li>ANC (Anchorage)</li>
                    <li>SDF (Louisville)</li>
                </ul>
            </li>
            {% comment %} 
            * What city pairs represent the most freight carried for the longest distance?
            * What city pairs represent the most mail carried for the shortest distance?
            {% endcomment %}
            <li>What city pairs represent the most freight carried for the longest distance?</li>
            <li>What city pairs represent the most mail carried for the shortest distance?</li>
        </ul>
    </div>
</body>
</html>