<!doctype html>
<html>
  <body>
    <p><a href="{% url 'blog:post_list' %}">← Back</a></p>
    <h1>{{ post.title }}</h1>
    <p>by {{ post.author }} • Published date/time: {{ post.published_at|date:"Y-m-d H:i" }}</p>

    {% if user.is_authenticated %}
      {% if user == post.author or user.is_superuser %}
        <p>
          <a href="{% url 'blog:post_update' post.slug %}">Edit</a> •
          <a href="{% url 'blog:post_delete' post.slug %}">Delete</a>
        </p>
      {% endif %}
    {% endif %}

    <article>{{ post.body|linebreaks }}</article>
  </body>
</html>

