{% extends "base.html" %}

{% block content %}
  <h1>{{ post.title }}</h1>

  {% if post.image %}
    <p>
      <img src="{{ post.image.url }}" alt="{{ post.title }}"
           style="max-width: 400px; height: auto;">
    </p>
  {% endif %}

  <p>{{ post.body|linebreaks }}</p>

  {% if user.is_authenticated and user == post.author %}
    <p>
      <a href="{% url 'blog:post_update' slug=post.slug %}">Edit</a> |
      <a href="{% url 'blog:post_delete' slug=post.slug %}">Delete</a>
    </p>
  {% endif %}

  <p><a href="{% url 'blog:post_list' %}">Back</a></p>
{% endblock %}


