{% extends "blog/base.html" %}
{% block title %}My Blog{% endblock %}
{% block content %}
<!-- Blog Entries Column -->
<div class="col-md-8">
    <h1 class="my-4">Buffteks
        <small>Buffteks Blog</small>
    </h1>
    {% for post in posts %}
    <!-- Blog Post -->
    <div class="card mb-4">
        <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
        <div class="card-body">
            <h2>
                <a class="card-title" href="{{ post.get_absolute_url }}">
                    {{ post.title }}
                </a>
            </h2>        
            {% comment %} <h2 class="card-title">{{ post.title }}</h2> {% endcomment %}
            <p class="card-text">
                {{ post.body|truncatewords:30|linebreaks }}                        
            </p>
            <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
            <p class="date">
                Published {{ post.publish }} by {{ post.author }}
            </p>
        </div>
    </div>
    {% endfor %}
    {% include "pagination.html" with page=posts %}      
</div>

{% endblock %}
